RewriteEngine On

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

ErrorDocument 400 /errors/show_404
ErrorDocument 401 /errors/show_404
ErrorDocument 403 /errors/show_404
ErrorDocument 404 /errors/show_404
ErrorDocument 500 /errors/show_404